<html lang="en">
<head>
</head>

<body>

    <div class="header">
        Utilisation de la BDD classicmodels
    </div>

    <div class="container">
        {{{body}}}
    </div>

    <script src="index.js"></script>
</body>
</html>